<div id="esquerda">
    <select name="Moneys" id="Moneys">
        <option value="DÓLAR"><strong>DÓLAR COMERCIAL</strong></option>
        <option value=" Libra_Esterlina"><strong> Libra</strong></option>
        <option value="peso_chileno"><strong>Peso Chileno</strong></option>
        <option value="Euro"><strong>Euro</strong></option>
    </select>

    <button type="button" id="BTN_enviar" onclick="PesquisarMoeda()"><strong>Pesquisar</strong></button>
</div>
<div id="direita">
    <div id="direita01">5.55</div>
    <div id="direita02">USD $</div>
    <div id="direita03">Dólar</div>
</div>

<div id="Baixo">
    <button type="button" id="BD_SalvarBD" onclick="BTN_salvar()">Salvar Banco de Dados</button>
</div>